<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.pds.gallery.service.GalleryFileMapper">	
	<!-- 업데이트 화면에서 img파일 삭제요청이 들어오면 연동되어있는 galleryFile를 삭제해준다 -->
	<delete id="deleteImgFile"
			parameterType="java.util.Map">
		delete from gallery_file where gallery_id = #{galleryId} AND gallery_file_name = #{galleryFileName}
	</delete>
	
	<!-- gallery 삭제요청이 들어오면 연동되어있는 galleryFile를 삭제해준다 -->
	<delete id="deleteGalleryFile"
			parameterType="integer">
		delete from gallery_file where gallery_id = #{galleryId}
	</delete>
	
	<!-- gallery 삭제 요청이 들어오면 upload에 어떤파일들을 삭제해야하는지 리스트로 출력해준다 -->
	<select id="selectGalleryFileList"
			parameterType="integer"
			resultType="com.test.pds.gallery.service.GalleryFile">
		SELECT
			gallery_file.gallery_file_id AS galleryFileID
			,gallery_file.gallery_file_name AS galleryFileName
			,gallery_file.gallery_file_ext AS galleryFileExt
			,gallery_file.gallery_file_type AS galleryFileType
			,gallery_file.gallery_file_size AS galleryFileSize
		FROM gallery_file
		WHERE gallery_file.gallery_id=#{galleryId}
	</select>
	
	<!-- gallery insert가 성공적으로 실행이 되 id값이 gallery객체내 galleryId에 저장되면 나머지 galleryFile insert시킨다 -->
	<insert id="insertGalleryFile" 
			parameterType="com.test.pds.gallery.service.GalleryFile">
		INSERT INTO gallery_file
			(gallery_id
			, gallery_file_name
			, gallery_file_ext
			, gallery_file_type
			, gallery_file_size)
		VALUES 
		(#{galleryId}
		, #{galleryFileName}
		, #{galleryFileExt}
		, #{galleryFileType}
		, #{galleryFileSize})
	</insert>
</mapper>