<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.pds.gallery.service.GalleryMapper">
	<resultMap type="com.test.pds.gallery.service.Gallery" id="gallery">
		<id column="gallery_id" property="galleryId"/>
		<result column="gallery_title" property="galleryTitle"/>
		<result column="gallery_content" property="galleryContent"/>
		<collection property="galleryFile" ofType="com.test.pds.gallery.service.GalleryFile">
			<id column="gallery_file_id" property="galleryFileId"/>
			<result column="gallery_id" property="galleryId"/>
			<result column="gallery_file_name" property="galleryFileName"/>
			<result column="gallery_file_ext" property="galleryFileExt"/>
			<result column="gallery_file_type" property="galleryFileType"/>
			<result column="gallery_file_size" property="galleryFileSize"/>
		</collection>
	</resultMap>
	
	<!-- getGalleryOne.jsp 상세화면에 보여줄 데이터를 select한다 -->
	<select id="selectGalleryOne"
			parameterType="integer"
			resultMap="gallery">
		SELECT
			gallery.gallery_id
			,gallery.gallery_title
			,gallery.gallery_content
			,gallery_file.gallery_file_id
			,gallery_file.gallery_file_name
			,gallery_file.gallery_file_ext
			,gallery_file.gallery_file_type
			,gallery_file.gallery_file_size
		FROM gallery join gallery_file
		ON gallery.gallery_id = gallery_file.gallery_id
		WHERE gallery_file.gallery_id = #{galleryId}
	</select>
	
	<!-- <select id="selectGalleryOne"
			parameterType="integer"
			resultType="com.test.pds.gallery.service.Gallery">
		SELECT
			gallery.gallery_id AS galleryId
			,gallery.gallery_title AS galleryTitle
			,gallery.gallery_content AS galleryContent
		FROM gallery
		WHERE gallery.gallery_id=#{galleryId}
	</select> -->
	
	<!-- getGalleryList.jsp 리스트화면에 보여줄 데이터를 select한다 -->
	<select id="selectGalleryList"
			resultType="com.test.pds.gallery.service.Gallery">
		SELECT
			gallery.gallery_id AS galleryId
			,gallery.gallery_title AS galleryTitle
			,gallery.gallery_content AS galleryContent
		FROM gallery
		ORDER BY gallery.gallery_id DESC
	</select>
	
	<!-- addGallery.jsp 폼 화면에서 받은 데이터를 데이터베이스에 insert시킨다 -->
	<insert id="insertGallery" 
			parameterType="com.test.pds.gallery.service.Gallery">
		<!-- insert가 완료된후 마지막으로 등록한 insert행의 id값을 가져온다 -->
		<selectKey resultType="integer" 
					keyProperty="galleryId" 
					order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO gallery
		(gallery_title
		, gallery_content)
		VALUES 
		(#{galleryTitle}
		, #{galleryContent})
	</insert>
</mapper>