<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.pds.board.service.BoardFileMapper">
	<insert id="insertBoardFile" parameterType="com.test.pds.board.service.BoardFile">
		INSERT INTO board_file(
			board_id
			, board_file_name
			, board_file_ext
			, board_file_type
			, board_file_size)
		VALUES (
			#{boardId}
			,#{boardFileName}
			,#{boardFileExt}
			,#{boardFileType}
			,#{boardFileSize})		
	</insert>
	
</mapper>