<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.pds.board.service.BoardMapper">
	<resultMap type="com.test.pds.board.service.Board" id="board">
		<id column="board_id" property="boardId"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<collection property="boardFile" ofType="com.test.pds.board.service.BoardFile">
			<id column="board_file_id" property="boardFileId"/>
			<result column="board_id" property="boardId"/>
			<result column="board_file_name" property="boardFileName"/>
			<result column="board_file_ext" property="boardFileExt"/>
			<result column="board_file_type" property="boardFileType"/>
			<result column="board_file_size" property="boardFileSize"/>
		</collection>		
	</resultMap>
	
	<delete id="deleteBoard" 
			parameterType="Integer">
	DELETE FROM board WHERE board_id=#{boardId}
	
	</delete>
	
	<select id="selectBoardOne"
			parameterType="com.test.pds.board.service.Board"
			resultMap="board">
		select
			board.board_id
			,board.board_title
			,board.board_content
		from board
		where board_id = #{boardId}	
	</select>
	
	<select id="totalCountBoard"
			resultType="Integer">
		SELECT COUNT(*) FROM board
	</select>
	
	<select id="selectBoardList" 
			parameterType="com.test.pds.board.service.Board"
			resultMap="board">
	select
		board.board_id
		,board.board_title
		,board.board_content
	from board
	ORDER BY board_id DESC
	LIMIT #{beginRow},#{pagePerRow}

	</select>
	
	<insert id="insertBoard" 
			parameterType="com.test.pds.board.service.Board">
		<selectKey resultType="int"
					keyProperty="boardId" 
					order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO board(
			board_title
			,board_content)
		VALUES (
			#{boardTitle}
			,#{boardContent})
	</insert>
</mapper>