<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.pds.board.service.BoardFileMapper">
	<delete id="deleteBoardFile" 
			parameterType="Integer">
	DELETE FROM board_file WHERE board_id=#{boardId}	
	
	</delete>
	<select id="selectBoardFileList" 
			parameterType="Integer"
			resultType="com.test.pds.board.service.BoardFile">
	SELECT
		board_file_id as boardFileId
		,board_file_name as boardFileName
		,board_file_ext as boardFileExt
		,board_file_type as boardFileType
		,board_file_size as boardFileSize
	FROM board_file
	WHERE board_file.board_id = #{boardId}	
	</select>
	
	<insert id="insertBoardFile" 
			parameterType="com.test.pds.board.service.BoardFile">
		INSERT INTO board_file(
			board_id
			, board_file_name
			, board_file_ext
			, board_file_type
			, board_file_size)
		VALUES (
			#{boardId}
			,#{boardFileName}
			,#{boardFileExt}
			,#{boardFileType}
			,#{boardFileSize})		
	</insert>
	
</mapper>