<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.pds.notice.service.NoticeFileMapper">
 	<!-- notice의 파일 내용들을 인서트 한다 -->
 	<insert id="insertNoticeFile" 
 			parameterType="com.test.pds.notice.service.NoticeFile">
 		INSERT INTO notice_file(
 			notice_id
 			, notice_file_name
 			, notice_file_ext
 			, notice_file_type
 			, notice_file_size
 		) 
 		VALUES(
 			#{noticeId}
 			, #{noticeFileName}
 			, #{noticeFileExt}
 			, #{noticeFileType}
 			, #{noticeFileSize})
 	</insert>
</mapper>