<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.test.pds.resume.service.ResumeMapper">

	<!-- 디비 컬럼명과 모델 클래스간에 자동 세팅을 위해 셀렉트 결과를 맵핑한다. 
		 다른 테이블과 조인한다는 가정하에 1:1 관계에서는 association, 1:N 관계에서는 collection 
		기능적으로 동일하지만 association에서 속성javaType,  collection에서 속성ofType 으로 구분된다. -->
	<resultMap id="resultMap" type="com.test.pds.resume.service.Resume">
        <id column="resume_id" property="resumeId" />
        <result column="resume_title" property="resumeTitle" />
        <result column="resume_content" property="resumeContent" />
        <association property="resumeFile" javaType="com.test.pds.resume.service.ResumeFile">
        	<id property="resumeFileId" column="resume_file_id" />
        	<result property="resumeId" column="resume_id" />
            <result property="resumeFileName" column="resume_file_name" />
            <result property="resumeFileSize" column="resume_file_size" />
            <result property="resumeFileExt" column="resume_file_ext" />
            <result property="resumeFileType" column="resume_file_type" />
        </association>
	</resultMap>
	
	<!-- delete Resume -->
	<delete id="deleteResume"
			parameterType="int">		
			DELETE 
			FROM resume 
			WHERE resume=#{resumeId}
	</delete>
	
	<!-- resume update -->
	<update id="updateResume"
			parameterType="com.test.pds.resume.service.Resume">
		UPDATE resume
		SET
			resume_title=#{resumeTitle}
			,resume_content=#{resumeContent}
		WHERE 
			resume_id = #{resumeId}
	</update>
	
	<!-- resume select One -->
	<select id="selectResumeOne"
			parameterType="integer"
			resultMap="resultMap">
		SELECT
			resume.resume_id
			,resume.resume_title
			,resume.resume_content
			,resume_file.resume_file_id
			,resume_file.resume_file_name
			,resume_file.resume_file_ext
			,resume_file.resume_file_size
			,resume_file.resume_file_type
		FROM resume
		JOIN resume_file
		ON resume.resume_id = resume_file.resume_id
		WHERE resume.resume_id = #{resumeId}
	</select>
	
	<!-- resume total count -->
	<select id="countResumeList"
			resultType="integer">
		SELECT COUNT(*) AS totalRow FROM resume
	</select>

	<!-- resume select List -->
	<select id="selectResumeList"
			parameterType="com.test.pds.Paging"
			resultType="com.test.pds.resume.service.Resume">
			SELECT
				resume.resume_id AS resumeId
				,resume.resume_title AS resumeTitle
				,resume.resume_content AS resumeContent
			FROM resume			
			ORDER BY resume.resume_id DESC
			LIMIT #{beginRow}, #{pagePerRow}
	</select>

	<!-- resume 입력하고난 다음(after) 셀렉트키로 PK(resumeId)를 리턴 -->
	<!-- parameterType은 만일 <typeAlias>설정을 하지 않았다면 패키지 명+클래스 전체이름으로 설정-->
	<insert id="insertResume"
			parameterType="com.test.pds.resume.service.Resume"> 
		<selectKey resultType="integer"
					keyProperty="resumeId"
					order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO resume(
			resume_title
			, resume_content
		)
		VALUES (
			#{resumeTitle}
			,#{resumeContent}
		)	
	</insert>
</mapper>