<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.pds.article.service.ArticleMapper">
	<resultMap type="com.test.pds.article.service.Article"
		id="resultArticle">
		<result column="article_id" property="articleId" />
		<result column="article_title" property="articleTitle" />
		<result column="article_content" property="articleContent" />
		<collection property="articleFile"
			ofType="com.test.pds.article.service.ArticleFile">
			<id column="article_file_id" property="articleFileId" />
			<result column="article_id" property="articleId" />
			<result column="article_file_name" property="articleFileName" />
			<result column="article_file_ext" property="articleFileExt" />
			<result column="article_file_type" property="articleFileType" />
			<result column="article_file_size" property="articleFileSize" />
		</collection>
	</resultMap>
	<select id="selectArticleList" parameterType="int" resultMap="resultArticle">
			select 
				article.article_id
				, article.article_title
				, article.article_content
				, article_file.article_file_name
				, article_file.article_file_ext
			from article inner join article_file
			on article.article_id = article_file.article_id
    </select>
    <!-- article을 매개변수로 받아 title, content를 입력한 후 id값을 리턴받는 쿼리문
    selectKey는 호출시 사용된 도메인 객체에 저장된다.
    order="AFTER" : 쿼리 실행한 후 자동증가 값 -->
	<insert id="insertArticle" parameterType="com.test.pds.article.service.Article">
		<selectKey resultType="int" keyProperty="articleId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO article(
			article_title
			, article_content
		)
		VALUES (
			#{articleTitle}
			, #{articleContent}
		)
	</insert>
</mapper>

