<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.test.pds.article.service.ArticleMapper">

	<!-- delete Article -->
	<delete id="deleteArticle"
			parameterType="int">		
			DELETE 
			FROM article 
			WHERE article_id=#{articleId}
	</delete>

	<!-- select resultMap -->
    <resultMap id="resultArticleMap" type="com.test.pds.article.service.Article">
        <id column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_content" property="articleContent" />
        <collection property="articleFile" column="articleId" ofType="com.test.pds.article.service.ArticleFile">
			<id property="articleFileId" column="article_file_id" />
            <result property="articleFileName" column="article_file_name" />
            <result property="articleFileSize" column="article_file_size" />
            <result property="articleFileExt" column="article_file_ext" />
            <result property="articleFileType" column="article_file_type" />
        </collection>
	</resultMap>
		
	<!-- article join article_file selectOne -->
	<select id="selectArticleOne"
			parameterType="com.test.pds.article.service.Article"
			resultMap="resultArticleMap">
			SELECT 
				article.article_id
				, article.article_title
				, article.article_content
				, article_file.article_file_name
				, article_file.article_file_ext
				, article_file.article_file_type
				, article_file.article_file_size
			FROM article
			INNER JOIN article_file
			ON article.article_id = article_file.article_id
			WHERE article.article_id=#{articleId}
	</select>
        
    <!-- article join article_file selectList -->
    <select id="selectArticleList"
		parameterType="com.test.pds.article.service.Article"
		resultMap="resultArticleMap">
			SELECT 
				article.article_id
				, article.article_title
				, article.article_content
				, article_file.article_file_name
				, article_file.article_file_ext
				, article_file.article_file_type
				, article_file.article_file_size
			FROM article
			INNER JOIN article_file
			ON article.article_id = article_file.article_id
			
	</select>
    
    
    <!-- article 입력하고나서(after) PK(articleId)를 셀렉트키로 리턴 -->
   	<insert id="insertArticle" 
   			parameterType="com.test.pds.article.service.Article">
		<selectKey resultType="int" 
					keyProperty="articleId" 
					order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO article(
			article_title
			, article_content
		)
		VALUES (
			#{articleTitle}
			, #{articleContent}
		)
	</insert>
</mapper>

